<div class="container footer">
  <p>&copy; {{ "now" | date: "%Y" }} FIXON. All rights reserved.</p>
  <address>
    <a class="contact-link" href="tel:{{ site.data.company.phone | replace: '-', '' }}">
      <img src="{{ '/assets/icons/phone.svg' | relative_url }}" alt="Phone icon" width="20" height="20"> {{ site.data.company.phone }}
    </a>
    <a class="contact-link" href="mailto:{{ site.data.company.email }}">
      <img src="{{ '/assets/icons/mail.svg' | relative_url }}" alt="Mail icon" width="20" height="20"> {{ site.data.company.email }}
    </a>
  </address>
</div>
