<nav id="menu">
  <div class="inner">
    <ul class="links">
      <li><a href="flooring.html">Flooring</a></li>
      <li><a href="tiles.html">Tile Work</a></li>
      <li><a href="wallpaper.html">Wallpaper</a></li>
      <li><a href="painting.html">Painting</a></li>
      <li><a href="furniture.html">Furniture</a></li>
      <li><a href="curtains.html">Curtains & Repairs</a></li>
      <li><a href="handyman.html">General Handyman</a></li>
    </ul>

    <div class="contact-method">
      <span class="icon solid alt fa-phone"></span>
      <a href="tel:{{ site.contact.phone_link | replace: ' ', '' }}">{{ site.contact.phone_display }}</a>
    </div>
    <div class="contact-method">
        <span class="icon solid alt fa-envelope"></span>
        <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a>
      </div>

    <!-- Close button -->
    <a href="#" class="close">Close</a>
  </div>
</nav>
