<!DOCTYPE HTML>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
      {% include header.html %}

      <!-- Menu -->
      {% include menu.html %}

      <!-- Main content -->
      {{ content }}

      <!-- Footer -->
      {% include footer.html %}

    </div><!-- /#wrapper -->
    <script src="/assets/js/jquery.min.js?v={{ site.js_v }}"></script>
    <script src="/assets/js/jquery.scrolly.min.js?v={{ site.js_v }}"></script>
    <script src="/assets/js/jquery.scrollex.min.js?v={{ site.js_v }}"></script>
    <script src="/assets/js/browser.min.js?v={{ site.js_v }}"></script>
    <script src="/assets/js/breakpoints.min.js?v={{ site.js_v }}"></script>
    <script src="/assets/js/util.js?v={{ site.js_v }}"></script>
    <script src="/assets/js/main.js?v={{ site.js_v }}"></script>
    <script src="/assets/js/contact.js?v={{ site.js_v }}"></script>

  </body>
</html>
